<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="" width="10%" alt="" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/administrador/inicioadministrador']"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/perfil']">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/usuarios']"
          >Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/inventario']"
          >Inventario</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/productos']"
          >Gestion Productos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/proveedor']"
          >Proveedores</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-outline-danger my-2 my-sm-0"
        [routerLink]="['/inicio']"
      >
        Cerrar Sesion
      </button>
    </form>
  </div>
</nav>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Activos">

    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of cat1">
          <td>{{ user.nombre }}</td>
          <td>{{ user.descripcion }}</td>
          <td>{{ user.stock }}</td>
          <button type="button" class="btn btn-warning" (click)="editar(user)">
            Editar Stock
            </button>
        </tr>
      </tbody>
    </table>

    <div *ngIf="editOn">
    <p-inputNumber
    [(ngModel)]="val"
    mode="decimal"
    [showButtons]="true"
    buttonLayout="vertical"
    spinnerMode="vertical"
    decrementButtonClass="p-button-secondary"
    incrementButtonClass="p-button-secondary"
    incrementButtonIcon="pi pi-plus"
    decrementButtonIcon="pi pi-minus"
    [min]="0"
  ></p-inputNumber>
  <button type="button" class="btn btn-outline-success" (click)="ingreso()">
   +
    </button>
    <button type="button" class="btn btn-outline-danger" (click)="salida()">
      -
      </button>
</div>


  </mat-tab>
  <mat-tab label="Equipos de Proteccion Personal"> 

    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of cat2">
          <td>{{ user.nombre }}</td>
          <td>{{ user.descripcion }}</td>
          <td>{{ user.stock }}</td>
          <button type="button" class="btn btn-warning" (click)="editar2(user)">
            Editar Stock
            </button>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="editOn">
      <p-inputNumber
      [(ngModel)]="val"
      mode="decimal"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      [min]="0"
    ></p-inputNumber>
    <button type="button" class="btn btn-outline-success" (click)="ingreso()">
     +
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="salida()">
        -
        </button>
  </div>

  </mat-tab>
  <mat-tab label="Alimento-Balanceado">

    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of cat3">
          <td>{{ user.nombre }}</td>
          <td>{{ user.descripcion }}</td>
          <td>{{ user.stock }}</td>Quintales
          <button type="button" class="btn btn-warning" (click)="editar3(user)">
            Editar Stock
            </button>
        </tr>
      </tbody>
    </table>
    <div *ngIf="editOn">
      <p-inputNumber
      [(ngModel)]="val"
      mode="decimal"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      [min]="0"
    ></p-inputNumber>

    <div class="p-field-radiobutton">
      <p-radioButton value="val1" [(ngModel)]="unidad"></p-radioButton>
      <label for="city1">Quintal</label>
  </div>

  <div class="p-field-radiobutton">
    <p-radioButton value="val2" [(ngModel)]="unidad"></p-radioButton>
    <label for="city2">kilo</label>
</div>




    <button type="button" class="btn btn-outline-success" (click)="ingreso2()">
     +
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="salida2()">
        -
        </button>
  </div>
  </mat-tab>
  <mat-tab label="Vacunas">

    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of cat4">
          <td>{{ user.nombre }}</td>
          <td>{{ user.descripcion }}</td>
          <td>{{ user.stock }}</td>
          <button type="button" class="btn btn-warning" (click)="editar4(user)">
            Editar Stock
            </button>
        </tr>
      </tbody>
    </table>
    <div *ngIf="editOn">
      <p-inputNumber
      [(ngModel)]="val"
      mode="decimal"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      [min]="0"
    ></p-inputNumber>
    <button type="button" class="btn btn-outline-success" (click)="ingreso()">
     +
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="salida()">
        -
        </button>
  </div>
  </mat-tab>
  <mat-tab label="Implementos Operacion">

    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of cat5">
          <td>{{ user.nombre }}</td>
          <td>{{ user.descripcion }}</td>
          <td>{{ user.stock }}</td>
          <button type="button" class="btn btn-warning" (click)="editar5(user)">
            Editar Stock
            </button>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="editOn">
      <p-inputNumber
      [(ngModel)]="val"
      mode="decimal"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      [min]="0"
    ></p-inputNumber>
    <button type="button" class="btn btn-outline-success" (click)="ingreso()">
     +
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="salida()">
        -
        </button>
  </div>



  </mat-tab>
</mat-tab-group>



