<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="" width="10%" alt="" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/administrador/inicioadministrador']"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/perfil']">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/usuarios']"
          >Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/inventario']"
          >Inventario</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/productos']"
          >Gestion Productos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrador/proveedor']"
          >Proveedores</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-outline-danger my-2 my-sm-0"
        [routerLink]="['/inicio']"
      >
        Cerrar Sesion
      </button>
    </form>
  </div>
</nav>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Editar/Eliminar">
    <table class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Imagen</th>
          <th>Categoria</th>
          <th>Proveedor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of productos">
          <td>{{ user.nombre }}</td>
          <td>{{ user.descripcion }}</td>
          <td>{{ user.imagen }}</td>
          <td>{{ user.idCategoria.categoria }}</td>
          <td>{{ user.idProveedor.nombre }}</td>
          <button type="button" class="btn btn-primary" (click)="editar(user)">
            Editar
          </button>

          <button type="button" class="btn btn-danger" (click)="eliminar(user)">
            Eliminar
          </button>
        </tr>
      </tbody>
    </table>

    <div *ngIf="editOn">
      <form>
        <h4>Nombre</h4>
        <input
          type="text"
          placeholder="Apellido"
          required="required"
          [(ngModel)]="selectedProducto.nombre"
          name="nombre"
          value="{{ selectedProducto.nombre }}"
        />

        <h4>Descripcion</h4>
        <input
          class="input_field search_form_name"
          type="text"
          placeholder="Descripcion"
          required="required"
          [(ngModel)]="selectedProducto.descripcion"
          name="descripcion"
          value="{{ selectedProducto.descripcion }}"
        />
        <h4>Imagen</h4>
        <input
          class="input_field search_form_name"
          type="text"
          placeholder="Path imageb"
          [(ngModel)]="selectedProducto.imagen"
          name="imagen"
          value="{{ selectedProducto.imagen }}"
        />
        <h4>Categoria</h4>
        <mat-form-field>
          <mat-label>Escoja una categoria</mat-label>
          <mat-select [(ngModel)]="select2" name="select2">
            <mat-option
              value="{{ item.categoria }}"
              *ngFor="let item of categoria"
            >
              {{ item.categoria }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <h4>Proveedor</h4>
        <mat-form-field>
          <mat-label>Escoja un proveedor</mat-label>
          <mat-select [(ngModel)]="select" name="select">
            <mat-option
              value="{{ item.nombre }}"
              *ngFor="let item of proveedor"
            >
              {{ item.nombre }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <button
          class="search_submit_button"
          (click)="actualizar()"
          class="btn btn-primary"
        >
          Actualizar
        </button>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Insertar">
    <form>
      <h4>Nombre</h4>
      <input
        class="input_field search_form_name"
        type="text"
        placeholder="Nombres"
        required="required"
        [(ngModel)]="nombre"
        name="nombre"
      />

      <h4>Descripcion</h4>
      <input
        class="input_field search_form_name"
        type="text"
        placeholder="Descripcion"
        required="required"
        [(ngModel)]="descripcion"
        name="descripcion"
      />

      <h4>Imagen</h4>
      <input
        class="input_field search_form_name"
        type="text"
        placeholder="Path imageb"
        [(ngModel)]="imagen"
        name="imagen"
      />
      <h4>Categoria</h4>
      <mat-form-field>
        <mat-label>Escoja una categoria</mat-label>
        <mat-select [(ngModel)]="select2" name="select2">
          <mat-option
            value="{{ item.categoria }}"
            *ngFor="let item of categoria"
          >
            {{ item.categoria }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <h4>Stock</h4>
      <input
        class="input_field search_form_name"
        type="text"
        placeholder="stock"
        [(ngModel)]="stock"
        name="stock"
      />

      <h4>Proveedor</h4>
      <mat-form-field>
        <mat-label>Escoja un proveedor</mat-label>
        <mat-select [(ngModel)]="select" name="select">
          <mat-option value="{{ item.nombre }}" *ngFor="let item of proveedor">
            {{ item.nombre }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <button type="submit" class="btn btn-primary" (click)="ingresar()">
        Ingresar
      </button>
    </form>
  </mat-tab>
</mat-tab-group>

