<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../../assets/img/avicola.png" width="12%" alt="" />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul></ul>
      <ul></ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/usuario/iniciousuario']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/usuario/perfil']">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/usuario/pedidos']">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/usuario/nuevopedido']">Nuevo Pedido</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button
        class="btn btn-outline-danger my-2 my-sm-0"
        (click)="cerrarSesion()"
      >
          Cerrar Sesion
        </button>
      </form>
    </div>
  </nav>

<table class="mat-elevation-z8">
  <thead>
    <tr>
        <th>Empresa</th>
      <th>Fecha Emision</th>
      <th>Fecha Entrega Pedido</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of facturas">
        <td>{{ user.idDatosEmpresa.nombre }}</td>

      <td>{{ user.fechaEmision | date }}</td>
      <td>{{ user.idDetalleFactura.fechaEntrega | date }}</td>
      <td>{{ user.idDetalleFactura.total }}</td>

      <button (click)="facturar(user)">Ver factura</button>

    </tr>
  </tbody>
</table>



