<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../../assets/img/avicola.png" width="12%" alt="" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul></ul>
    <ul></ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/usuario/iniciousuario']"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/usuario/perfil']">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/usuario/pedidos']"
          >Pedidos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/usuario/nuevopedido']"
          >Nuevo Pedido</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-outline-danger my-2 my-sm-0"
        (click)="cerrarSesion()"
      >
        Cerrar Sesion
      </button>
    </form>
  </div>
</nav>

<div class="registro">
  <div class="container" *ngFor="let user of usuarios">
    <div><h1 class="titulo">Datos del Usuario</h1></div>
    <div fxLayout="row" fxLayoutAlign=" center" class="div">
      <div class="titulo">Cédula:</div>
      <div class="texto">{{ user.cedula }}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign=" center" class="div">
      <div class="titulo">Nombre:</div>
      <div class="texto">{{ user.nombre }}</div>
    </div>
    <div fxLayout="row" fxLayoutAlign=" center" class="div">
      <div class="titulo">Apellido:</div>
      <div class="texto">{{ user.apellido }}</div>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center" class="div">
      <div class="titulo">Direccion:</div>
      <div class="texto">{{ user.direccion }}</div>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center" class="div">
      <div class="titulo">Telefono:</div>
      <div class="texto">0{{ user.telefono }}</div>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center" class="div">
      <div class="titulo">Usuario:</div>
      <div class="texto">{{ user.idLogin.usuario }}</div>
    </div>

    <div fxLayout="row" fxLayoutAlign=" center" class="div">
      <div class="titulo">Clave:</div>
      <div class="texto">*****</div>
    </div>

    <button type="button" class="btn btn-primary" (click)="editar(user)">
      Editar
    </button>
  </div>
</div>

<p-dialog
  header="Header"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div *ngIf="editOn">
    <form
      (ngSubmit)="obtenerFormulario(formularioUsuario)"
      #formularioUsuario="ngForm"
    >
      <h4>Cedula</h4>
      <input
        type="text"
        placeholder="Cedula"
        required="required"
        [(ngModel)]="selectedPerfil.cedula"
        name="cedula"
        value="{{ selectedPerfil.cedula }}"
      />
      <h4>Nombre</h4>
      <input
        type="text"
        placeholder="Apellido"
        required="required"
        [(ngModel)]="selectedPerfil.nombre"
        name="nombre"
        value="{{ selectedPerfil.nombre }}"
      />
      <h4>Apellido</h4>
      <input
        class="input_field search_form_name"
        type="text"
        placeholder="Apellido"
        required="required"
        [(ngModel)]="selectedPerfil.apellido"
        name="apellido"
        value="{{ selectedPerfil.apellido }}"
      />
      <h4>Direccion</h4>
      <input
        class="input_field search_form_name"
        type="text"
        placeholder="Direccion"
        required="required"
        [(ngModel)]="selectedPerfil.direccion"
        name="direccion"
        value="{{ selectedPerfil.direccion }}"
      />
      <h4>Telefono</h4>
      <input
        class="input_field search_form_name"
        type="text"
        required="required"
        placeholder="Telefono"
        [(ngModel)]="selectedPerfil.telefono"
        name="telefono"
        value="{{ selectedPerfil.telefono }}"
      />
      <h4>Usuario</h4>
      <input
        class="input_field search_form_name"
        type="text"
        placeholder="Usuario"
        [(ngModel)]="usuario"
        name="usuario"
        value="usuario"
        required="required"
      />
      <h4>Clave</h4>
      <input
        class="input_field search_form_name"
        type="password"
        placeholder="Clave"
        [(ngModel)]="clave"
        name="clave"
        value="clave"
        required="required"
      />
      <button
        class="search_submit_button"
        (click)="actualizar(selectedPerfil)"
        [disabled]="formularioUsuario.invalid"
      >
        Actualizar
      </button>
    </form>
  </div>
</p-dialog>
<p-toast></p-toast>
