<div>
  <table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>Descripcion</th>
        <th>Peso</th>
        <th>Precio por libra</th>
        <th>Pollos disponibles</th>
        <th>Fecha de salida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of productos">
        <td>{{ user.descripcion }}</td>
        <td>{{ user.peso }}</td>
        <td>{{ user.precio }}</td>
        <td>{{ user.stock }}</td>
        <td>{{ user.fecha | date }}</td>

        <button type="button" class="btn btn-primary" (click)="agregar(user)">
          Agregar
        </button>
      </tr>
    </tbody>
  </table>

  <div *ngIf="editOn">
    <p-inputNumber
      [(ngModel)]="val"
      mode="decimal"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      min="1"
    ></p-inputNumber>
    <div>
      <button type="button" class="btn btn-primary" (click)="agregar2()">
        Agregar
      </button>
    </div>
  </div>

  <div *ngIf="editOn2">
    <h4>Actualizar Direccion</h4>
    <input
      class="input_field search_form_name"
      type="text"
      placeholder="Direccion actualizada"
      required="required"
      [(ngModel)]="direccion"
      name="direccion"
    />

    <h2>Recuerde realizar el pedido en estas fechas</h2>
    <div  *ngFor="let user of arrayfechas">
      <div>{{ user |date}}</div>

    </div>
    <div class="p-field p-col-12 p-md-4">
      <p-calendar
        [(ngModel)]="date"
        [showIcon]="true"
        inputId="icon"
      ></p-calendar>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="comprar()">
    Pedir
      </button>
    </div>
  </div>

  <div *ngFor="let user of arraydescripcion">
    <div>
      <div>{{ user }}</div>
    </div>
  </div>
  <div *ngFor="let user of arraypeso">
    <div>
      <div>{{ user }}</div>
    </div>
  </div>
  <div *ngFor="let user of arrayprecio">
    <div>
      <div>{{ user }}</div>
    </div>
  </div>
  <div *ngFor="let user of arraystock">
    <div>
      <div>{{ user }}</div>
    </div>
  </div>
  <div *ngFor="let user of arraysubtotal; let i = index">
    <div>
      <div>{{ user }}</div>
      <button (click)="eliminar(i)">x</button>
    </div>
  </div>
  <div>
    <button (click)="pedir()">Realizar pedido</button>
  </div>
</div>


