<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../../assets/img/avicola.png" width="12%" alt="" />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul></ul>
      <ul></ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/usuario/iniciousuario']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/usuario/perfil']">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/usuario/pedidos']">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/usuario/nuevopedido']">Nuevo Pedido</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button
        class="btn btn-outline-danger my-2 my-sm-0"
        (click)="cerrarSesion()"
      >
          Cerrar Sesion
        </button>
      </form>
    </div>
  </nav>

<div>
  <table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>Descripcion</th>
        <th>Peso</th>
        <th>Precio por libra</th>
        <th>Pollos disponibles</th>
        <th>Fecha de salida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of productos">
        <td>{{ user.descripcion }}</td>
        <td>{{ user.peso }}</td>
        <td>{{ user.precio }}</td>
        <td>{{ user.stock }}</td>
        <td>{{ user.fecha | date }}</td>

        <button type="button" class="btn btn-primary" (click)="agregar(user)">
          Agregar
        </button>
      </tr>
    </tbody>
  </table>

  <div *ngIf="editOn">
    <p-inputNumber
      [(ngModel)]="val"
      mode="decimal"
      [showButtons]="true"
      buttonLayout="vertical"
      spinnerMode="vertical"
      decrementButtonClass="p-button-secondary"
      incrementButtonClass="p-button-secondary"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
      min="1"
    ></p-inputNumber>
    <div>
      <button type="button" class="btn btn-primary" (click)="agregar2()">
        Agregar
      </button>
    </div>
  </div>

  <div *ngIf="editOn2">
    <form
    (ngSubmit)="obtenerFormulario(formularioUsuario)"
    #formularioUsuario="ngForm"
    > 
    <h4>Actualizar Direccion</h4>
    <input
    class="input_field search_form_name"
    type="text"
    placeholder="Direccion actualizada"
    required="required"
    [(ngModel)]="direccion"
    name="direccion"
    value="{{direc}}"
    />
  </form>
    <h2>Recuerde realizar el pedido en estas fechas</h2>
    <div  *ngFor="let user of arrayfechas">
      <div>{{ user |date}}</div>

    </div>
    <div class="p-field p-col-12 p-md-4">
      <p-calendar
        [(ngModel)]="date"
        [showIcon]="true"
        inputId="icon"
      ></p-calendar>
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="comprar()" 
      [disabled]="formularioUsuario.invalid">
    Pedir
      </button>
    </div>
  </div>

  <div *ngFor="let user of arraydescripcion">
    <div>
      <div>{{ user }}</div>
    </div>
  </div>
  <div *ngFor="let user of arraypeso">
    <div>
      <div>{{ user }}</div>
    </div>
  </div>
  <div *ngFor="let user of arrayprecio">
    <div>
      <div>{{ user }}</div>
    </div>
  </div>
  <div *ngFor="let user of arraystock">
    <div>
      <div>{{ user }}</div>
    </div>
  </div>
  <div *ngFor="let user of arraysubtotal; let i = index">
    <div>
      <div>{{ user }}</div>
      <button (click)="eliminar(i)">x</button>
    </div>
  </div>
  <div>
    <button (click)="pedir()">Realizar pedido</button>
  </div>
</div>


<p-toast></p-toast>


