<h1>factura</h1>


<div *ngFor="let user of factura">
    <div>Numero Factura: 000{{user.id}}</div>
<div>{{user.fechaEmision}}</div>
<div>{{user.idDatosEmpresa.nombre}}</div>
<div>{{user.idDatosEmpresa.direccion}}</div>
<div>{{user.idDatosEmpresa.ruc}}</div>
<div>{{user.idDatosEmpresa.telefono}}</div>
<div>{{user.idDatosEmpresa.telefono2}}</div>
<div>{{user.idRegistro.cedula}}</div>
<div>{{user.idRegistro.nombre}}</div>
<div>{{user.idRegistro.apellido}}</div>
<div>{{user.idRegistro.direccion}}</div>
<div>{{user.idRegistro.telefono}}</div>
<div>{{user.idDetalleFactura.subtotal}}</div>
<div>{{user.idDetalleFactura.total}}</div>
<div>{{user.idDetalleFactura.fechaEntrega}}</div>

-----------------------------
<div *ngFor="let user of descripcion">
    <div>
{{user}}
    </div>
</div>

<div *ngFor="let user of peso">
    <div>
{{user}}
    </div>
</div>

<div *ngFor="let user of preciolibra">
    <div>
{{user}}
    </div>
</div>

<div *ngFor="let user of cantidad">
    <div>
{{user}}
    </div>
</div>

<div *ngFor="let user of subtotalpedido">
    <div>
{{user}}
    </div>
</div>


</div>