<div class="container">
    <div id="element" #element>
      <div class="contenedor" *ngFor="let user of factura">
        <div fxLayout="row">
          <div fxFlex="30" class="a-1">
            <img src="../../../assets/img/avicolaBN.png" alt="" width="100%" />
          </div>
  
          <div fxLayout="column" fxLayoutAlign=" center" fxFlex="45">
            <div class="a-2-1">AMAGUAÑA CORREA WILSON SALVADOR</div>
            <div class="a-2-1">{{ user.idDatosEmpresa.nombre }}</div>
            <div class="a-2-2">Ruc: {{ user.idDatosEmpresa.ruc }}</div>
            <div class="a-2-2">
              Direccion: {{ user.idDatosEmpresa.direccion }}
            </div>
            <div class="a-2-2">Telefonos: {{ user.idDatosEmpresa.telefono }}</div>
            <div class="a-2-2">{{ user.idDatosEmpresa.telefono2 }}</div>
            <div class="a-2-2">Quito-Ecuador</div>
          </div>
  
          <div fxLayout="column" fxLayoutAlign="center center" class="a">
            <div class="a-3-1">Número de Pedido</div>
            <div class="a-3-2">N° 000{{ user.id }}</div>
       
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column">
            <table class="b-1">
              <tr>
                Cliente:
                {{
                  user.idRegistro.nombre
                }}
                {{
                  user.idRegistro.apellido
                }}
              </tr>
              <tr>
                <div>Direccion: {{ user.idRegistro.direccion }}</div>
              </tr>
              <tr>
                Telefono: 0{{
                  user.idRegistro.telefono
                }}
              </tr>
              <tr>
                Ci/Ruc:
                {{
                  user.idRegistro.cedula
                }}
              </tr>
            </table>
          </div>
  
          <div fxLayout="column">
            <table class="b-2">
              <tr>
                Fecha emisión:
                {{
                  user.fechaEmision | date
                }}
              </tr>
              <tr>
                Fecha de Pago y entrega:
                {{
                  user.idDetalleFactura.fechaEntrega | date
                }}
              </tr>
              <tr>
                Producción: Avícola
              </tr>
              <tr>
                Guía Remesión No. xxxx
              </tr>
            </table>
          </div>
        </div>
        <div fxLayout="row" class="c">
          <div fxFlex="15" fxLayout="column">
            <div class="c1 ccenter">Cantidad</div>
            <div *ngFor="let user of cantidad">
              <div class="c1">
                {{ user }}
              </div>
            </div>
          </div>
          <div fxFlex="35" fxLayout="column">
            <div class="c2 ccenter">Descripción</div>
            <div *ngFor="let user of descripcion">
              <div class="c2">
                {{ user }}
              </div>
            </div>
          </div>
          <div fxFlex="15" fxLayout="column">
            <div class="c2 ccenter">Peso</div>
            <div *ngFor="let user of peso">
              <div class="c2">
                {{ user }}
              </div>
            </div>
          </div>
          <div fxFlex="15" fxLayout="column">
            <div class="c2 ccenter">Precio por libra</div>
            <div *ngFor="let user of preciolibra">
              <div class="c2">
                {{ user }}
              </div>
            </div>
          </div>
          <div fxFlex="20" fxLayout="column">
            <div class="c2 ccenter">Valor Venta</div>
            <div *ngFor="let user of subtotalpedido">
              <div class="c2">
                {{ user }}
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="60">
            <div>
              Debo y pagaré a la orden de WILSON SALVADOR AMAGUAÑA CORREA. la suma
              del valor de la factura, por mercadería recibida aqui detallada,
              entregada a mi entera satisfacción, con el interés vigente
              autorizado por la ley y más costos judiciales.
            </div>
            <div>Son:_________________________________________________________</div>
            <div>______________________________________________________dólares</div>
          </div>
          <div fxFlex="20">
            <div class="d2">
              <div>SUB TOTAL 12%</div>
              <div>SUBTOTAL 0%</div>
              <div>DESCUENTO</div>
              <div>SUBTOTAL</div>
              <div>IVA 12%</div>
              <div>VALOR TOTAL $</div>
            </div>
          </div>
          <div fxFlex="20" >
            <div>
              <table class="d3">
                <tr>
                  {{
                    user.idDetalleFactura.subtotal
                  }}
                </tr>
                <tr>
                  0
                </tr>
                <tr>
                  0
                </tr>
                <tr>
                  {{
                    user.idDetalleFactura.subtotal
                  }}
                </tr>
                <tr>
                  {{
                    iva
                  }}
                </tr>
                <tr>
                  {{
                    user.idDetalleFactura.total
                  }}
                </tr>
              </table>
            </div>
          </div>
        
        </div>
        <div fxLayout="row" class="e">
          <div fxFlex="15">
            <div class="e1">Forma de Pago</div>
            <table class="e3">
              <tr>
                Efectivo
              </tr>
              <tr>
                Dinero Electrónico
              </tr>
              <tr>
                Tarjeta de Crédito
              </tr>
              <tr>
                Otro
              </tr>
            </table>
          </div>
          <div fxFlex="15">
            <div class="e1">Valor</div>
            <table class="e2">
              <tr>
                .
              </tr>
              <tr>
                .
              </tr>
              <tr>
                .
              </tr>
              <tr>
                .
              </tr>
            </table>
          </div>
          <div fxFlex="30" class="f">
            <div>__________________________</div>
            <div> Entregado</div>
           </div>
          <div fxFlex="30" class="f">
            <div>__________________________</div>
            <div>Recibí Conforme</div>
            <ul></ul>
          
        </div>
      </div>
      <div class="textofinal">Factura de prueba. Documento exclusivo Avicola Tumbaco Granja Marianta. Este documento no cuenta con validez tributaria.</div>
    </div>
  </div>
  <ul></ul>
  <div class="botonpdf">
    <button (click)="generar()" class="btn btn-secondary">exportar pdf</button>
    </div>
