<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../../assets/img/avicola.png" width="12%" alt="" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul></ul>
    <ul></ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link button"
          [routerLink]="['/administrador/inicioadministrador']"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/perfil']"
          >Perfil</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/usuarios']"
          >Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/inventario']"
          >Inventario</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/productos']"
          >Gestion Productos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/proveedor']"
          >Proveedores</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link button"
          [routerLink]="['/administrador/datosempresa']"
          >Datos Empresa</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/pedidos']"
          >Pedidos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link button"
          [routerLink]="['/administrador/ventaproducto']"
          >Venta Producto</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-outline-danger my-2 my-sm-0"
        (click)="cerrarSesion()"
      >
        Cerrar Sesion
      </button>
    </form>
  </div>
</nav>

<p-toast></p-toast>

<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="../../assets//img/pollo3.jpg" class="d-block w-100" >
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="../../assets//img/pollos.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets//img/pollos2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> 