

<div>
  <form id="search_form" class="search_form" #formularioUsuario="ngForm">
      <h4>Usuario</h4>
    <input
      type="text"
      placeholder="Usuario"
      [(ngModel)]="usuario"
      name="usuario"
    />
    <h4>Contraseña</h4>
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="pass"
      name="pass"
    />
<div>

<button type="submit" (click)='iniciarSesion()' class="btn btn-success">Iniciar Sesion</button>

</div>

<div>
<button [routerLink]="['/registrarse']" class="btn btn-warning">Registrarse</button>
</div>
  </form>
</div>


<p-toast></p-toast>





