
.button:hover{
    background: rgb(45, 45, 255);
border-radius: 15px;
}


.login{
    background-color:rgb(5, 17, 70) ;
    width: 100%;
    height: 89.2%;
    text-align: center;
padding: 7% 0% 0% 37%;
}

.login2{
    background-color: rgb(220, 220, 233);
    border-radius: 15px;
    width: 50%;

   
}