<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../../assets/img/avicola.png" width="10%"/>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul></ul>
<ul></ul>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link button" [routerLink]="['/inicio']">Inicio</a>
            </li>
  
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle button"
            
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Quiénes Somos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/mision']">Misión</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/vision']">Visión</a>
          </div>
        </li>
        
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/servicios']">Nuestros Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" [routerLink]="['/contactos']">Contactos</a>
        </li>
    
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-primary my-2 my-sm-0" [routerLink]="['/registrarse']">
          Registrarse
        </button>
        
      </form>
    </div>
  </nav>


<div class="login">
  <div class="login2">
    <form id="search_form" class="search_form" #formularioUsuario="ngForm">
      <h1>Login</h1>
      <div>
        <img src="../../assets/img/login.png"  width="30%" alt="">
      </div>
        <h2>Usuario</h2>
      <input
        type="text"
        placeholder="Usuario"
        [(ngModel)]="usuario"
        name="usuario"
      />
      <h2>Contraseña</h2>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="pass"
        name="pass"
      />
  <div>
  <ul></ul>
  <button type="submit" (click)='iniciarSesion()' class="btn btn-success">Iniciar Sesion</button>
  
  </div>
  
  <div>
    <ul></ul>
    <h3>No tiene una cuenta?</h3>
  <button [routerLink]="['/registrarse']" class="btn btn-warning">Registrarse</button>
  
  </div>
    </form>
  </div>

</div>




<p-toast></p-toast>





