<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../../assets/img/avicola.png" width="12%" alt="" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul></ul>
    <ul></ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a
          class="nav-link button"
          [routerLink]="['/administrador/inicioadministrador']"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/perfil']">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/usuarios']">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/inventario']"
          >Inventario</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/productos']"
          >Gestion Productos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/proveedor']"
          >Proveedores</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/datosempresa']"
          >Datos Empresa</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/pedidos']"
          >Pedidos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link button" [routerLink]="['/administrador/ventaproducto']"
          >Venta Producto</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-outline-danger my-2 my-sm-0"
        (click)="cerrarSesion()"
      >
        Cerrar Sesion
      </button>
    </form>
  </div>
</nav>

<h1>Pedidos</h1>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>Numero de Factura</th>

        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha Emision</th>
        <th>Fecha Entrega Pedido</th>
        <th>Telefono</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of facturas">
        <td>000{{ user.id}}</td>

        <td>{{ user.idRegistro.cedula }}</td>

        <td>{{ user.idRegistro.nombre }}</td>
        <td>{{ user.idRegistro.apellido }}</td>
      
        <td>{{ user.fechaEmision | date}}</td>
        <td>{{ user.idDetalleFactura.fechaEntrega | date}}</td>
        <td>{{ user.idRegistro.telefono }}</td>
        <td>{{ user.idDetalleFactura.total}}</td>

<button (click)="cambiar(user)" class="btn btn-warning">Cambiar a entregado</button>
<button (click)="facturar(user)" class="btn btn-info">Ver factura</button>


      </tr>
    </tbody>
  </table>


  <h1>Pedidos Entregados</h1>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Numero de Factura</th>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha Emision</th>
        <th>Fecha Entrega Pedido</th>
        <th>Telefono</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of facturasentregadas">
        <td>000{{ user.id}}</td>

        <td>{{ user.idRegistro.cedula }}</td>

        <td>{{ user.idRegistro.nombre }}</td>
        <td>{{ user.idRegistro.apellido }}</td>
      
        <td>{{ user.fechaEmision | date}}</td>
        <td>{{ user.idDetalleFactura.fechaEntrega | date}}</td>
        <td>{{ user.idRegistro.telefono }}</td>
        <td>{{ user.idDetalleFactura.total}}</td>

<button (click)="eliminar(user)" class="btn btn-danger">Eliminar</button>
<button (click)="facturar(user)" class="btn btn-info">Ver factura</button>


      </tr>
    </tbody>
  </table>



  <p-toast></p-toast>