<p>registrarse works!</p>

<div>
  <form
 
  >
    <h4>Cedula</h4>
    <input
      class="input_field search_form_name"
      type="text"
      placeholder="N° Cédula"
      required="required"
      [(ngModel)]="cedula"
      name="cedula"
    />
    <h4>Nombre</h4>
    <input
      class="input_field search_form_name"
      type="text"
      placeholder="Nombres"
      required="required"
      [(ngModel)]="nombre"
      name="nombre"
    />
    <h4>Apellido</h4>
    <input
    class="input_field search_form_name"
    type="text"
    placeholder="Apellido"
    required="required"
    [(ngModel)]="apellido"
    name="apellido"
  />
    <h4>Direccion</h4>
    <input
    class="input_field search_form_name"
    type="text"
    placeholder="Direccion"
    required="required"
    [(ngModel)]="direccion"
    name="direccion"
  />
    <h4>Telefono</h4>
    <input
      class="input_field search_form_name"
      type="text"
      placeholder="Telefono"
      required="required"
      [(ngModel)]="telefono"
      name="telefono"
    />
    <h4>Usuario</h4>
    <input
      class="input_field search_form_name"
      type="text"
      placeholder="Usuario"
      required="required"
      [(ngModel)]="usuario"
      name="usuario"
    />
    <h4>pass</h4>
    <input
      class="input_field search_form_category"
      type="password"
      placeholder="Contraseña"
      required="required"
      [(ngModel)]="pass"
      name="pass"
    />

    <button id="search_submit_button" type="submit" class="search_submit_button " value="Submit" (click)='ingresar()'>REGISTRARSE</button>
  </form>

</div>
